target/
.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.DS_Store
.vscode/
.idea/
*.iml
*.ipr
*.iws
.git/
.gitignore
README.md
HELP.md
DEPLOYMENT.md
docker-compose.yml
docker-build.*
docker-run.*
build.*
